<h1><%= @product.name %></h1>

<dl>
  <dt>Name</dt>
  <dd><%= @product.name %></dd>

  <dt>Description</dt>
  <dd><%= @product.description %></dd>

  <dt>Price</dt>
  <dd><%= @product.price %></dd>

  <dt>Created</dt>
  <dd><%= @product.created_at %></dd>

  <dt>Last Updated</dt>
  <dd><%= @product.updated_at %></dd>
</dl>

<%= link_to "Edit", edit_product_path %>
<%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure?"} %>
